body {
  font-family: "Noto Sans KR", sans-serif;
}

main {
  min-height: calc(100vh - 266px);
}

nav {
  padding: 0 1rem;
  background-color: #0c356a;
}

form[role="search"] .form-control {
  background-color: white;
  color: black;
}

form[role="search"] .form-control::placeholder {
  color: black;
}

form[role="search"] .form-control:focus {
  border: none;
  box-shadow: none;
}

.nav-item .nav-link:hover {
  color: white;
  opacity: 100;
}

.btn.search-btn {
  border: solid 1px #c5dff8;
}

.btn.search-btn:hover {
  background-color: #c5dff8;
}

#afterlogin {
  display: none;
}

/* main */
/*
.container {
  height: 100%;
}
*/

.content {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 88px;
  position: relative;
}

.main-banner {
  position: relative;
}

#mainCarousel {
  height: 400px;
}

img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.carousel-inner {
  height: 100%;
}

#mainCarousel .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.main-title {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  /* bottom: 100%; */
}

.main-title {
  color: white;
}

.main-title h3 {
  font-size: 3rem;
  font-weight: bold;
}

.main-title h5 {
  margin-bottom: 1rem;
}

.input-area {
  height: 56px;
}

.input-wrapper {
  width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0.75rem;
}

#banner-search {
  height: 100%;
  flex-grow: 1;
  border: none;
  border-radius: 0.5rem;
}

#banner-search:focus-visible {
  border: none;
}

.input-area button {
  width: 100px;
  height: 90%;
  margin: 0 0.125rem 0 1rem;
  background-color: #0c356a;
  color: white;
  border-radius: 0.625rem;
}

.input-area button:hover {
  background-color: #0c356a;
  color: white;
}

.bi-search {
  margin: 0 1rem;
  font-size: 1.25rem;
  color: gray;
}

/* main-bottom */
.main-bottom {
  display: flex;
  margin: 3rem 0;
}

.place-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.place-wrapper {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/13/12/26/aurora-1197753_1280.jpg");
  width: 25%;
  height: 200px;
}

.place {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place .btn,
.place .btn:hover {
  color: white;
}

.place:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.place-wrapper img:hover {
  opacity: 0.5;
}

/* footer */
footer.navbar {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

footer.navbar ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

footer .nav-item img {
  width: 100px;
}
